services:
  postgresdb:
    image: postgres
    restart: always
    env_file:
      - ./.env
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_DATABASE}
    ports:
      - ${POSTGRESDB_LOCAL_PORT}:${POSTGRESDB_DOCKER_PORT}
    volumes:
      - db:/var/postgresql/data
  backend:
    depends_on:
      - postgresdb
    restart: always
    build: backend
    env_file:
      - .env
    volumes:
      - ./backend:/app
      - /app/node_modules
    ports:
      - 3000:3000
    command:
      ["sh", "scripts/wait-for-postgres.sh", "npm", "run", "${NPM_COMMAND}"]
  frontend:
    depends_on:
      - backend
    restart: always
    build: frontend
    env_file:
      - .env
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - 4000:4000
    command:
      ["npm", "run", "${NPM_COMMAND}"]
volumes:
  db: