@import url("../colors.css");

#container{
    margin: 10% auto 0 auto;
    display: flex;
    flex-direction: column;
    width: 20vw;
    text-align: center;
    gap: 15px;
    background-color: var(--bg-secondary);
    padding: 10px;
    border-radius: 15px;
    color: var(--text-active);
    box-shadow: 0px 0px 1px rgba(3, 7, 18, 0.02),
    0px 1px 4px rgba(3, 7, 18, 0.05),
    0px 2px 10px rgba(3, 7, 18, 0.07),
    0px 3px 17px rgba(3, 7, 18, 0.10),
    0px 4px 27px rgba(3, 7, 18, 0.12),
    0px 6px 39px rgba(3, 7, 18, 0.14),
    0px 8px 52px rgba(3, 7, 18, 0.17),
    0px 11px 68px rgba(3, 7, 18, 0.19),
    0px 14px 87px rgba(3, 7, 18, 0.22),
    0px 17px 107px rgba(3, 7, 18, 0.24);
}

button{
    background-color: var(--highlight);
    color: var(--text-active);
    padding: 10px;
    cursor: pointer;
    transition-duration: 0.2s;
}

button#beginButton, button#resetButton{
    border-radius: 10px 10px 0 0;
}

button#send{
    border-radius: 0 0 10px 10px;
}

button:hover{
    background-color: #cc000099 ;
}

#tableSlider{
    cursor: pointer;
}

#half{
    padding: 5px;
}