<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/main/main.css">
    <style>
        {{#if menu}}
            #logout {
                border-radius: 5px;
            }
        {{else}}
             #logout {
                border-radius: 0 0 5px 0;
                 padding-left: 20px;
            }
             #logout::before{
                 content: "";
                 height: 70%;
                 background-color: var(--text-active);
                 padding: 1px;
                 margin: 0 10px;
                 position: absolute;
                 left: 0;
             }
        {{/if}}
    </style>
</head>
<body>
{{#unless login}}
    <div id="main-header">
        {{#unless menu}}
        <a href="/menu" id="goBack">Powrót</a>
        {{/unless}}
        <button id="logout">Wyloguj się</button>
    </div>
{{/unless}}
{{#unless login}}
<script>
    const token = localStorage.getItem('token');
    if (!token){
        window.location.href = '/login';
    }
    const verify = async () => {
        const response = await fetch(`{{{backendURL}}}/verify`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                token: token
            })
        })
        if (!response.ok) {
            window.location.href = '/login';
        }}
    verify();
    {{#unless login}}
        const logout = document.querySelector('#logout');
        logout.addEventListener('click', () => {
            localStorage.setItem('token', '');
            window.location.href = '/login';
        })
    {{/unless}}
</script>
{{/unless}}
{{{body}}}
</body>
</html>