@import url("../colors.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0 none;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

body{
    background-color: var(--bg-primary);
    width: 100vw;
    height: 100vh;
    background-image: url("../images/logos/circle-color.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: overlay;
}

#main-header{
    position: sticky;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 10vh;
    max-height: 100px;
    background-color: var(--bg-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    z-index: 1420;
    box-shadow: 0px 1px 1px rgba(3, 7, 18, 0.06),
    0px 6px 3px rgba(3, 7, 18, 0.11),
    0px 13px 7px rgba(3, 7, 18, 0.17),
    0px 23px 13px rgba(3, 7, 18, 0.22);
    background-image: url("../images/logos/horizontal-background-black.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
}

#goBack, #logout{
    display: block;
    background-color: var(--highlight);
    color: var(--text-active);
    width: fit-content;
    height: min-content;
    padding: 5px 10px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    transition-duration: 0.2s;
}

#goBack{
    border-radius: 0 0 0 5px;
}

#goBack:hover, #logout:hover {
    background-color: #cc000099;
}

#goBack:hover{
    padding: 5px 20px;
}

#main-header:has(#goBack:hover) #logout{
    margin-right: 20px;
}
