@import url("../colors.css");

#main{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
}

#main > *{
    width: 50%;
}

h1{
    width: 100%;
    text-align: center;
    color: var(--text-active)
}