@import url("../colors.css");

#main{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 30px auto 0 auto;
    height: 80vh;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 0px 1px rgba(3, 7, 18, 0.02),
    0px 1px 4px rgba(3, 7, 18, 0.05),
    0px 2px 10px rgba(3, 7, 18, 0.07),
    0px 3px 17px rgba(3, 7, 18, 0.10),
    0px 4px 27px rgba(3, 7, 18, 0.12),
    0px 6px 39px rgba(3, 7, 18, 0.14),
    0px 8px 52px rgba(3, 7, 18, 0.17),
    0px 11px 68px rgba(3, 7, 18, 0.19),
    0px 14px 87px rgba(3, 7, 18, 0.22),
    0px 17px 107px rgba(3, 7, 18, 0.24);

}

#main > *{
    width: 50%;
    background-color: var(--bg-secondary);
}

h1{
    width: 100%;
    text-align: center;
    color: var(--text-active);
    border-color: var(--text-inactive);
    border-style: solid;
    padding: 5px;
    vertical-align: center;
    display: block;
    height: 50px;
}

#callContainer{
    border-radius: 10px 0 0 0;
}

#awardsContainer{
    border-radius: 0 10px 0 0;
}

#callContainer h1{
    border-width: 2px 0 2px 2px;
    border-radius: 10px 0 0 0;
}

#awardsContainer h1{
    border-width: 2px 2px 2px 0;
    border-radius: 0 10px 0 0;
}

#calls, #awards{
    height: calc(100% - 50px);
    border-style: solid;
    border-color: var(--text-active);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

#calls::-webkit-scrollbar, #awards::-webkit-scrollbar {
    /*display: none;*/
    background-color: transparent;
    width: 5px;
}

#calls::-webkit-scrollbar-thumb, #awards::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
}

#calls{
    border-width: 0 1px 0 0;
    padding-top: 20px;
}

#awards{
    border-width: 0 0 0 1px;
    padding-top: 20px;
}

.awardContainer, .callContainer{
    /*color: var(--bg-primary);*/
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: var(--bg-secondary);
    /*border-radius: 15px;*/
    padding: 10px;
    margin: 10px auto;
    border: 5px solid var(--highlight);
    width: fit-content;
    max-width: 90%;
    position: relative;
    border-width: 0 2px 2px 2px;
    animation: create 0.3s ease-in-out;
    transition-duration: 0.2s;
    box-shadow: 0px 0px 1px rgba(3, 7, 18, 0.02),
    0px 1px 4px rgba(3, 7, 18, 0.05),
    0px 2px 10px rgba(3, 7, 18, 0.07),
    0px 3px 17px rgba(3, 7, 18, 0.10),
    0px 4px 27px rgba(3, 7, 18, 0.12),
    0px 6px 39px rgba(3, 7, 18, 0.14),
    0px 8px 52px rgba(3, 7, 18, 0.17),
    0px 11px 68px rgba(3, 7, 18, 0.19),
    0px 14px 87px rgba(3, 7, 18, 0.22),
    0px 17px 107px rgba(3, 7, 18, 0.24);
}

.awardContainer{
    border-radius: 5px 10px 10px 5px;
}

.callContainer{
    border-radius: 10px 5px 5px 10px;
}

.awardContainer p, .callContainer p{
    text-align: center;
    display: block;
    width: 100%;
    color: var(--text-active);
    font-weight: bold;
    padding: 5px 50px;
}

.competitor{
    text-wrap: wrap;
    word-wrap: break-word;
    display: block;
    text-align: left !important;
    line-height: 20px;
    border: 2px solid var(--text-active);
    padding: 5px;
    border-radius: 5px;
    margin: 2px;
    color: var(--text-inactive) !important;
    /*overflow: hidden;*/
}

.competitorContainer{
    width: fit-content;
    margin: 0 auto;
    max-width: 100%;
}

.delete{
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 5px;
    font-size: 10px;
    line-height: 10px;
    color: var(--text-active);
    border-radius: 0 5px 0 5px;
    cursor: pointer;
}

.magic{
    animation: delete 0.2s ease-in-out;
    transition-duration: 0.2s;
    /*height: 0;*/
    height: 0;
    padding: 0;
    margin: 0 auto;
    width: 80%;
    overflow: hidden;
}

.absent{
    text-decoration: line-through;
    text-decoration-color: var(--text-active);
}

@keyframes delete{
    from{
        height: 200px;
    }to{
        height: 0;
        width: 20%;
    }
}

@keyframes create{
    from{
        width: 10%;
        overflow: hidden;
        color: transparent;
        height: 10px;
        margin-top: 200px;
    }to{
        width: 80%;
        height: 200px;
        overflow: hidden;
        color: var(--text-inactive);
        margin-top: 10px;
    }
}