@import url("../colors.css");

#main{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 30px auto 0 auto;
    height: 80vh;
}

#main > *{
    width: 50%;
    background-color: var(--bg-secondary);
}

h1{
    width: 100%;
    text-align: center;
    color: var(--text-active);
    border-color: var(--text-inactive);
    border-style: solid;
    padding: 5px;
    vertical-align: center;
    display: block;
    height: 50px;
}

#callContainer h1{
    border-width: 2px 0 2px 2px;
    border-radius: 10px 0 0 0;
}

#awardsContainer h1{
    border-width: 2px 2px 2px 0;
    border-radius: 0 10px 0 0;
}

#calls, #awards{
    height: calc(100% - 50px);
    border-style: solid;
    border-color: var(--text-active);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

#calls::-webkit-scrollbar, #awards::-webkit-scrollbar {
    /*display: none;*/
    background-color: transparent;
    width: 5px;
}

#calls::-webkit-scrollbar-thumb, #awards::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
}

#calls{
    border-width: 0 1px 0 0;
}

#awards{
    border-width: 0 0 0 1px;
}

.awardContainer, .callContainer{
    /*color: var(--bg-primary);*/
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: var(--bg-secondary);
    /*border-radius: 15px;*/
    padding: 10px;
    margin: 10px auto;
    border: 5px solid var(--highlight);
    width: fit-content;
    max-width: 90%;
    position: relative;
    border-width: 0 2px 2px 2px;
    animation: create 0.2s ease-in-out;
    transition-duration: 0.2s;
}

.awardContainer{
    border-radius: 5px 10px 10px 5px;
}

.callContainer{
    border-radius: 10px 5px 5px 10px;
}

.awardContainer p, .callContainer p{
    text-align: center;
    display: block;
    width: 100%;
    color: var(--text-active);
    font-weight: bold;
    padding: 5px 50px;
}

.competitor{
    text-wrap: wrap;
    word-wrap: break-word;
    display: block;
    text-align: left !important;
    line-height: 20px;
    border: 2px solid var(--text-active);
    padding: 5px;
    border-radius: 5px;
    margin: 2px;
    color: var(--text-inactive) !important;
    /*overflow: hidden;*/
}

.competitorContainer{
    width: fit-content;
    margin: 0 auto;
    max-width: 100%;
    transition-duration: 0.2s;
}

.delete{
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 5px;
    font-size: 10px;
    line-height: 10px;
    color: var(--text-active);
    border-radius: 0 5px 0 5px;
    cursor: pointer;
}

.magic{
    animation: delete 0.2s ease-in-out;
    /*height: 0;*/
    height: 0;
    padding: 0;
    margin: 0 auto;
    width: 80%;
    overflow: hidden;
}

@keyframes delete{
    from{
        height: 200px;
    }to{
        height: 0;
        width: 20%;
    }
}

@keyframes create{
    from{
        width: 80%;
        overflow: hidden;
        color: transparent;
        height: 10px;
    }to{
        width: 50%;
        height: 200px;
        overflow: hidden;
        color: var(--text-inactive);
    }
}