<head>
    <meta charset="UTF-8">
    <title>Kategorie</title>
    <link rel="stylesheet" href="categories/categories.css">
</head>
<body>
<div id="buttonsDiv">
    <div id="showTableDiv">
        <label for="showTable">POKAŻ TABELĘ</label>
        <input type="checkbox" id="showTable" checked>
    </div>
    <div id="showCategoriesDiv">
        <label for="showCategories">POKAŻ KATEGORIE</label>
        <input type="checkbox" id="showCategories" checked>
    </div>
    <div id="editionDiv">
        <label for="edition">EDYCJA</label>
        <input type="checkbox" id="edition" checked>
    </div>
    <button id="zapisz">ZAPISZ</button>
</div>
<main>
    <div id="zawodnicy-container">
        <div class="grupa bez-kategorii"></div>
        <table id="zawodnicy">
            <thead>
                <tr>
                     <th>Imię</th>
                     <th>Nazwisko</th>
                     <th>Wiek</th>
                     <th>Waga</th>
                     <th>Poziom</th>
                     <th>Szkoła</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <div id="grupy"></div>
</main>
<script src="/categories/categories.js"></script>
</body>