<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona z zawodnikami</title>
    <link rel="stylesheet" href="categories/categories.css">
</head>
<body>

<button id="zapisz">ZAPISZ</button>
<main>
    <div id="zawodnicy-container">
        <table id="zawodnicy">
            <thead>
                <tr>
                     <th>Imię</th>
                     <th>Nazwisko</th>
                     <th>Wiek</th>
                     <th>Waga</th>
                     <th>Poziom</th>
                     <th>Szkoła</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <div id="grupy"></div>
</main>
<script>
    const backendURL = "{{{backendURL}}}"
</script>
<script src="/categories/categories.js"></script>
</body>