<head>
    <meta charset="UTF-8">
    <title>Wybierz stół</title>
    <link rel="stylesheet" href="chooseTable/chooseTable.css">
</head>
<body>
    <div id="tableButtonsContainer">

    </div>
<script src="/chooseTable/chooseTable.js"></script>
</body>