<head>
    <meta charset="UTF-8">
    <title>Wybierz stół</title>
    <link rel="stylesheet" href="chooseTable/chooseTable.css">
</head>
<body>
<script>
    if(localStorage.getItem("tableNumber") != null && localStorage.getItem("tableNumber") <= numberOfTables) {
        window.location.href = "/stolikMaly"
    }
</script>
    <div id="tableButtonsContainer">

    </div>
<script src="/chooseTable/chooseTable.js" type="module"></script>
</body>