<head>
    <meta charset="utf-8">
    <title>menu</title>
    <link rel="stylesheet" href="/clock/clock.css">
</head>
<body>
<div id="aside"></div>
<script>
    const backendURL = "{{{backendURL}}}"
</script>
<script src="/clock/clock.js"></script>
</body>