<head>
    <meta charset="utf-8">
    <title>menu</title>
    <link rel="stylesheet" href="/zegar/zegar.css">
</head>
<body>

<script>
    const backendURL = "{{{backend_URL}}}"
</script>
<script src="/zegar/zegar.js"></script>
</body>