<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="/login/login.css">
</head>
<body>
    <div id="login-container">
        <form id="login-form">
            <select name="role" id="role-select">
                <option value="admin">Admin</option>
                <option value="adder">Dodawanie</option>
                <option value="referee">Sędzia</option>
            </select>
        <input id="password-input" type="password" name="password" placeholder="Hasło" required>
        <input type="submit" value="Zaloguj się">
        </form>
    </div>
<script>
    const backendURL = "{{{backendURL}}}";
</script>
<script src="/login/login.js" type="module"></script>
</body>