<head>
    <meta charset="UTF-8">
    <title>Stolik Główny</title>
    <link rel="stylesheet" href="mainTable/mainTable.css">
</head>
<body>
<div id="main">
    <div id="callContainer">
        <h1>Do Zawołania</h1>
        <div id="calls"></div>
    </div>
    <div id="awardsContainer">
        <h1>Dyplomy</h1>
        <div id="awards">
        </div>
    </div>
</div>
</body>
<script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
<script>
    const socket = io(backendURL);
</script>
<script src="/mainTable/mainTable.js" type="module"></script>
</body>
