<head>
    <meta charset="utf-8">
    <title>menu</title>
    <link rel="stylesheet" href="/menu/menu.css">
</head>
<body>
<div id="menu-container">
    <a href="/dodawanie" id="dodawanie">Dodawanie</a>
    <a href="/zegar" id="zegar">Zegar</a>
</div>
<script>
    const backendURL = "{{{backendURL}}}";
</script>
<script src="/menu/menu.js" type="module"></script>
</body>
