<head>
    <meta charset="utf-8">
    <title>Menu</title>
    <link rel="stylesheet" href="/menu/menu.css">
</head>
<body>
<div id="menu-container">
    <a href="/dodawanie" id="adding" class="menu-item">Dodawanie</a>
    <a href="/zegar" id="clock" class="menu-item">Zegar</a>
    <a href="/kategorie" id="categories" class="menu-item">Kategorie</a>
    <a href="/stolikGlowny" id="mainTable" class="menu-item">Stolik Główny</a>
    <a href="/wybierzStolik" id="chooseTable" class="menu-item">Stolik Mały</a>
    {{#if test}}
        <a href="/test" id="test" class="menu-item">Test</a>
    {{/if}}
</div>
<script src="/menu/menu.js" type="module"></script>
</body>
