<head>
    <meta charset="UTF-8">
    <title>Wynik Kategorii</title>
    <link rel="stylesheet" href="/results/results.css">
</head>
<body>
<div id="container">

</div>
<script src="results/results.js" type="module"></script>
</body>
