<head>
    <meta charset="UTF-8">
    <title>Stół sędziowski</title>
    <link rel="stylesheet" href="smallTable/smallTable.css">
</head>
<body>

<script src="/smallTable/smallTable.js"></script>
</body>
