<!DOCTYPE html>
<html lang="pl">
<head>
<meta charset="UTF-8" />
<title>Stół sędziowski</title>
<link rel="stylesheet" href="smallTable/smallTable.css" />
</head>
<body>
<div id="table-number"></div>


<main>
<section id="left">
    <table id="TableFirst">
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
    <table id="TableSecound">
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <button id="Zawolaj">Zawołaj</button>
</section>
<section id="right">
    <div class="FightList" id="fightlist"></div>
</section>
</main>

<script src="/smallTable/smallTable.js"></script>
</body>
</html>