<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<button id="dodaj" style="margin: 10% auto 10px auto; padding: 10px; font-size: 16px; display: block;">>dodaj 10 zawodników<</button>
<button id="clear" style="margin: 10px auto; padding: 10px; font-size: 16px; display: block;">>wyczyść baze<</button>
<button id="dodaj100" style="margin: 10px auto; padding: 10px; font-size: 16px; display: block;">>dodaj 100 zawodników<</button>
<button id="resetFights" style="margin: 10px auto; padding: 10px; font-size: 16px; display: block;">>wyłącz walki (wyczyści wyniki walk)</button>
<script>
    const dodajButton = document.getElementById("dodaj");
    const dodaj100 = document.getElementById("dodaj100");
    const clearButton = document.getElementById("clear");
    const resetFightsButton = document.getElementById("resetFights");

    dodajButton.addEventListener("click", async () => {

        const lowercaseAsciiStart = 97;
        for(let i = 0; i < 10; i++) {
            const letterIndex = Math.floor(Math.random() * 26);
            const letter = String.fromCharCode(lowercaseAsciiStart + letterIndex);
            const age = Math.floor(Math.random() * 10) + 2007;
            const competitor = {
                id: -1,
                name: letter,
                surname: letter,
                age: age,
                weight: Math.pow((140 + ((2026 - age) - 8) * (Math.floor(Math.random() * 5) + 1))/100, 2) * ((Math.floor(Math.random() * 10) + 16)),
                level: Math.floor(Math.random() * 4),
                exists: true
            }
            await fetch(`${backendURL}/addCompetitors`, {
                method: 'POST',
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    location: 'SPnr1',
                    changes: [],
                    newCompetitors: [competitor],
                    token: token
                })
            })
        }
    });

    dodaj100.addEventListener("click", async () => {
        const lowercaseAsciiStart = 97;
        for(let i = 0; i < 100; i++) {
            const letterIndex = Math.floor(Math.random() * 26);
            const letter = String.fromCharCode(lowercaseAsciiStart + letterIndex);
            const age = Math.floor(Math.random() * 10) + 2007;
            const competitor = {
                id: -1,
                name: letter,
                surname: letter,
                age: age,
                weight: Math.pow((140 + ((2026 - age) - 8) * (Math.floor(Math.random() * 5) + 1))/100, 2) * ((Math.floor(Math.random() * 10) + 16)),
                level: Math.floor(Math.random() * 4),
                exists: true
            }
            await fetch(`${backendURL}/addCompetitors`, {
                method: 'POST',
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    location: 'SPnr1',
                    changes: [],
                    newCompetitors: [competitor],
                    token: token
                })
            })
        }
    });
    clearButton.addEventListener("click", () => {
        fetch(`${backendURL}/clearBase`, {
            method: 'POST',
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                token: token
            })
        })
    })
    resetFightsButton.addEventListener("click", async () => {
        await fetch(`${backendURL}/resetFights?token=${token}`, {
            method: 'POST',
            headers: {
                "Content-Type": "application/json",
            }
        });
        await fetch(`${backendURL}/config?token=${token}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                key: "fightsEnabled",
                value: 0
            })
        })
        window.location.reload();
    })
</script>