@import url("../colors.css");

body {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    margin: 0;
    padding: 0;
}

#tyt {
    color: var(--highlight);
}

table {
    /*border-collapse: collapse;*/
    overflow-y: scroll;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-width: 0 2px 2px 2px;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

#zawodnicy-container{
    height: 80vh;
    overflow-y: scroll;
    width: 50%;
    box-shadow: 0px 0px 1px rgba(3, 7, 18, 0.02),
    0px 1px 4px rgba(3, 7, 18, 0.05),
    0px 2px 10px rgba(3, 7, 18, 0.07),
    0px 3px 17px rgba(3, 7, 18, 0.10),
    0px 4px 27px rgba(3, 7, 18, 0.12),
    0px 6px 39px rgba(3, 7, 18, 0.14),
    0px 8px 52px rgba(3, 7, 18, 0.17),
    0px 11px 68px rgba(3, 7, 18, 0.19),
    0px 14px 87px rgba(3, 7, 18, 0.22),
    0px 17px 107px rgba(3, 7, 18, 0.24);
}

th, td {
    padding: 10px;
    margin: 2px 0;
    text-align: center;
    white-space: wrap;
    color: var(--text-primary);
    width: 100px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
}

th {
    background-color: var(--bg-primary);
    color: var(--text-active);
}

table thead th {
    position: sticky;
    top: 0;
    background-color: #1d1d1b;
    z-index: 500;
}

tr:nth-child(even) {
    background-color: #2c3a42;
}

tr:hover {
    background-color: #3a4a55;
}

/* Bloki grup */
#grupy div {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid var(--text-primary);
    background-color: rgba(0, 0, 0, 0.3); /* pasuje do tabeli */
    border-radius: 5px;
    /*box-shadow: 2px 2px 5px rgba(0,0,0,0.1);*/
    color: var(--text-active);
}

div.zawodnik:hover {
    border: 1px solid var(--highlight) !important;
    cursor: grab;
}

div.zawodnik{
    width: fit-content;
    transition-duration: 0.2s;
}

#grupy ul {
    list-style: none;
    padding-left: 0;
}

#grupy li {
    padding: 3px 0;
}

i{
    padding: 5px;
    /*display: block;*/
    float: right;
}

main{
    display: flex;
    flex-direction: row;
    text-align: left; /* wyśrodkowane na początku */
    justify-content: space-evenly;
    gap: 20px;
    width: 80%;
    margin: 20px auto 0;
    height: 80vh;
}

#grupy {
    overflow-y: scroll;
    height: 80vh;
    width: 50%;
    background-color: var(--bg-secondary);
    box-shadow: 0px 0px 1px rgba(3, 7, 18, 0.02),
    0px 1px 4px rgba(3, 7, 18, 0.05),
    0px 2px 10px rgba(3, 7, 18, 0.07),
    0px 3px 17px rgba(3, 7, 18, 0.10),
    0px 4px 27px rgba(3, 7, 18, 0.12),
    0px 6px 39px rgba(3, 7, 18, 0.14),
    0px 8px 52px rgba(3, 7, 18, 0.17),
    0px 11px 68px rgba(3, 7, 18, 0.19),
    0px 14px 87px rgba(3, 7, 18, 0.22),
    0px 17px 107px rgba(3, 7, 18, 0.24);
}

#grupy::-webkit-scrollbar, #zawodnicy-container::-webkit-scrollbar {
    display: none;  /* Older Safari and Chromium */
}

.placeholder {
    height: 30px;
    margin: 4px 0;
    border: 2px dashed #666;
    background: rgba(0,0,0,0.1);
}

.zawodnik.dragging {
    opacity: 0.5;
    user-select: none;
}

.placeholder-grupa {
    height: 50px;
    border: 2px dashed #aaa;
    margin: 5px 0;
    background-color: rgba(200,200,200,0.1);
}

.plus {
    background: #e8e8e8;
    border: 2px dashed #bbb;
    border-radius: 10px;
    text-align: center;
    padding: 8px;
    cursor: pointer;
    transition: background 0.2s ease, transform 0.2s ease;
    font-weight: bold;
    color: #666;
    animation: fadeIn 0.4s ease;
}

.plus:hover {
    background: #d9f7d9;
    border-color: #65b765;
    color: #2c662d;
    transform: scale(1.05);
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}

.grupa.nowa {
    background-color: transparent; /* brak białego tła */
    border: 1px solid var(--text-primary);
    position: relative;
}

.grupa.nowa h3 {
    position: relative;
    padding-right: 30px; /* miejsce na przycisk */
}

.grupa.nowa h3 .close {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    color: var(--highlight);
    font-size: 18px;
    cursor: pointer;
}

.grupa h3 {
    display: inline-block;
    padding: 10px 0;
}

#buttonsDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 1700;
}

#buttonsDiv > *{
    background-color: var(--highlight);
    display: block;
    padding: 5px 10px;
    border-width: 2px 0;
    /*border: 2px solid black;*/
    border-color: black;
    border-style: solid;
    color: var(--text-active);
    font-weight: bold;
    font-size: 14px;
    width: fit-content;
    z-index: 1900;
    transition-duration: 0.2s;
}

#buttonsDiv *{
    cursor: pointer;
}

#buttonsDiv > *:first-child{
    border-radius: 0 0 0 10px;
    border-width: 2px 0 2px 2px;
}

#buttonsDiv > *:last-child{
    border-radius: 0 0 10px;
    border-width: 2px 2px 2px 0;
}

#buttonsDiv > *:hover {
    background-color: #cc000099;
}

input[type=checkbox] {
    vertical-align: center;
    position: relative;
    top: 1px;
}

.info-bez-kat {
    background: #ffe5e5;
    border: 1px solid #ff7070;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.info-bez-kat h2 {
    color: #b30000;
}

.grupa.bez-kategorii {
    border: 1px dashed #ccc;
    color: var(--text-active);
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--bg-primary);
    box-shadow: 0px 0px 1px rgba(3, 7, 18, 0.02),
    0px 1px 4px rgba(3, 7, 18, 0.05),
    0px 2px 10px rgba(3, 7, 18, 0.07),
    0px 3px 17px rgba(3, 7, 18, 0.10),
    0px 4px 27px rgba(3, 7, 18, 0.12),
    0px 6px 39px rgba(3, 7, 18, 0.14),
    0px 8px 52px rgba(3, 7, 18, 0.17),
    0px 11px 68px rgba(3, 7, 18, 0.19),
    0px 14px 87px rgba(3, 7, 18, 0.22),
    0px 17px 107px rgba(3, 7, 18, 0.24);

}

.grupa.bez-kategorii .zawodnik {
    cursor: grab;
    margin: 5px 0;
    padding: 5px;
    background-color: var(--bg-secondary);
    border: 1px solid #ddd;
    border-radius: 4px;
}
